ProcessListItem{
    
}

#process_list{
    width: 30%;
}

#list_item{
    height: 1.5;
}

#node_name{
    text-align: left;
    width: 93%;
}

#node_status{
    text-align: right;
}

#right_panel{
    width: 60%;
    height: 100%;
}

#detail_panel{
    height: 60%;
    width: 100%;
    padding-bottom: -1;
}

#table{
    height: 40%;
    width: 100%;
}